<!DOCTYPE html>
<head>
<title>Welcome</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
<link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
	<div class="container-fluid">
		<div id='header' class="jumbotron">
			<h1>File Storage</h1>
			<h2 class="text-muted"> Load your files. View files of other users. Write overview</h2><br>
			<ul class="nav nav-pills">
				<li role="presentation"><a href="#">Home</a></li>
				<li role="presentation"  class="active"><a href="/">Books</a></li>
				<li role="presentation"><a href="#">Messages</a></li>
			</ul>
		</div>

		<div class="col-md-12" id="file_container">
			<ul>
				<h2>Books</h2><br>
				<% if (backDirection != null) { %>
					<a href="<%=backDirection%>" class="glyphicon glyphicon-arrow-up"> GoUp</a>
				<% } %>
				<% for(var i = 0; i < dataList.length; i++) {%>
				<li>
					<% if (dataList[i].hasOwnProperty('directoryName')) { %>
						<span class="glyphicon glyphicon-folder-close"></span><a class="link" data-path="<%=dataList[i].dirPath %>"><%= dataList[i].directoryName %></a>
					<% } else {%>
						<span class="glyphicon glyphicon-file"></span><a class="link" href="<%=dataList[i].filePath %>" target="_blank"><%= dataList[i].fileName %></a>
					<% } %>

                </li>
				<% } %>
			</ul>
		</div>

	</div>
 <script src="/main.js"></script>
</body>